<html lang="en">
  <head >
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=1024">
  </head>
  <body>
    <script type="text/javascript" src="/jquery-2.1.1.min.js"></script>
    <script type="text/javascript">
    var pages = JSON.parse('<%- pages %>');
    var index;
    var totalPages;
    var viewFullImg = false;

    function prev() {
      if(index == 1){
        alert('First Page');
        return;
      }
      index--;
      reloadImage();
    }

    function next() {
      if(index == totalPages){
        alert('Last Page');
        return;
      }
      index++;
      reloadImage();

    }

    function reloadImage(){
      if (viewFullImg){
        $("#img").attr('src', pages[index -1].images.full);
      }else{
        $("#img").attr('src', pages[index -1].images.normal);
      }
      $("#page_index").html('Page: ' + index + "/" + totalPages);
    }

    function changeImgSize(){
      viewFullImg = $("#view_large").prop('checked');
      reloadImage();
    }
    // document inited.
    $(function(){
      totalPages = pages.length;
      index = 1;
      $(".prev").on('click',prev);
      $(".next").on('click',next);
      $("#view_large").on('click', changeImgSize);
      reloadImage();
    });
    </script>
    <div style="height:40px;">
      <span>View Large Image: <input type="checkbox" id="view_large"/></span>
      <span><a class="prev" href="#">Prev</a></span>
      <span id="page_index"></span>
      <span><a class="next" href="#">Next</a></span>
    </div>
    <div>
      <img id="img"/>
    </div>

  </body>
</html>