<html lang="en">
  <head >
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>slide for you</title>
    <meta name="viewport" content="width=1024">
  </head>
  <body>
    <script type="text/javascript" src="/jquery-2.1.1.min.js"></script>
    <script type="text/javascript">
        $(function(){

            $("#go").on('click', function(){
                var elm = document.createElement('a');
                elm.href = $("#where2go").val();
                if(elm.hostname == 'www.slideshare.net'
                  || elm.hostname == 'slideshare.net'){
                    window.location = elm.pathname;
                }
            });

        });
    </script>

<style type="text/css">
.table {
  display: table;
  height: 100%;
  margin: 0 auto;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}
.centered {
    font-size: 24px;
}
input {
    height: 40px;
}
button {
    height: 40px;
    font-size: 30px;
    color: blue;
}

</style>


<div class="table">
    <div class="table-cell">
        <div class="centered">
            please input presention's url:<br>

            <input type="text" id="where2go" placeholder='paste your slideshare url here' size=150>
            <br>
            <button id='go'>View</button>
        </div>
    </div>
</div>


</body></html>